<div class="my-container">
</div>
<div *ngIf="dataRecived; else loading">
    <div class="login-page">
        <div class="form">
            <div class="page-title">
                Zaproszenia do znajomych
            </div>
            <hr>
            <br>
            <mat-form-field class="margin">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Przeszukaj zaproszenia">
            </mat-form-field>
            <mat-table [dataSource]="dataSource" matSort>

                <ng-container matColumnDef="photoDownloadURL">
                    <mat-header-cell *matHeaderCellDef> Zdjęcie profilowe </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <ngx-avatar [round]="false" *ngIf="element.photoDownloadURL !== ''" size=100 src="{{element.photoDownloadURL}}"
                            bgColor="#cc6b8e"></ngx-avatar>
                        <ngx-avatar [round]="false" *ngIf="element.photoDownloadURL === ''" size=100 name="{{element.username}}"
                            bgColor="#cc6b8e">
                        </ngx-avatar>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef> Nazwa użytkownika </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="bio">
                    <mat-header-cell *matHeaderCellDef> Opis </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.bio}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="message">
                    <mat-header-cell *matHeaderCellDef> Treść zaproszenia </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.message}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="options">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button (click)="acceptInvitation(element)" class="gradient-button gradient-button-1">
                            <span class='glyphicon glyphicon-ok' style="color:white;"></span>
                            <span style="margin-left: 2px"> Akceptuj</span></button>
                        <button (click)="rejectInvitation(element)" class="gradient-button gradient-button-2">
                            <span class='glyphicon glyphicon-remove' style="color:white;"></span>
                            <span style="margin-left: 2px"> Odrzuć</span></button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[3, 5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
<ngx-toasta></ngx-toasta>

<ng-template #loading>
    <div class="forms">
        <div class="loader">Loading...</div>
        <div class="title-loader"><b>CITY CHAT</b></div>
    </div>
</ng-template>