<div class="my-container">
</div>
<div class="login-page">
  <div class="form">
    <h3 class="reset-title">Resetowanie Hasła</h3>
    <hr>
    <p class="message">Wpisz swój adres e-mail, aby poprosić o zresetowanie hasła.</p>

    <div>
      <input type="email" class="inputStyle" placeholder="Adres E-mail" #passwordResetEmail required>
    </div>

    <div>
      <a type="submit" class="gradient-button gradient-button-1"
        (click)="authService.ForgotPassword(passwordResetEmail.value)">resetuj hasło</a>
    </div>

    <div class="resetPasswordMargin">
      <span>Powrót ? <span routerLink="/sign-in" class="loginIn">Zaloguj się</span></span>
    </div>
  </div>
</div>