/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
mat-sidenav {
  width: 15vw;
  padding: 1vw;
  min-width: 250px;
}
.mat-drawer {
  background: rgb(81, 67, 93);
  background: linear-gradient(0deg, rgba(81, 67, 93, 1) 0%, rgba(144, 74, 108, 1) 45%, rgba(236, 142, 158, 1) 100%);
  border-style: solid;
  border-width: 10px 10px 0px 5px;
}
.main-content {
  padding: 20px;
}

.title-center {
  flex: 1 0 auto;
  text-align: center;
  color: black;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  font-size: 34px;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  letter-spacing: 3px;
}



body,
html {
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.my-container {
  width: 100vw;
  height: 100vh;
}

div * {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */  ::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent;
  }  ::-webkit-scrollbar {
    width: 3px !important;
    background-color: transparent;
  }  ::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

