/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
mat-sidenav {
    width: 15vw;
    padding:1vw;
    min-width: 250px;
}
.mat-drawer { 
    background: rgb(81,67,93);
    background: linear-gradient(0deg, rgba(81,67,93,1) 0%, rgba(204,107,142,1) 58%, rgba(255,189,163,1) 100%); 
    border-style: solid;
    border-width: 10px 10px 0px 5px;
}
.main-content {
    padding:20px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}

.title-center {
    flex: 10 0 auto;
    text-align: center;
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    font-size: 34px;;
  }