<div class="my-container">
</div>
<div class="login-page">
    <div class="form">
        <div class="register-form">
            <div class="welcome-title">
                CITY CHAT
            </div>
            <hr>
            <div class="welcome-content">
                <div style="text-align: center;">Witam w <b>City Chat</b>!</div>
                <br>
                <div>
                    City Chat to portal, który umożliwia zawieranie nowych znajomości z osobami mieszkającymi w twoim
                    mieście.
                </div>
                <br>
                <div>
                    Uzupełnij swój profil o zdjęcie i ciekawy opis np. coś o sobie lub życiowe motto, a następnie
                    przejdź do sekcji <i>DODAJ ZNAJOMYCH</i>. W sekcji tej masz możliwość zobaczyć, kto z najbliższej okolicy
                    korzysta już z City Chat oraz wysłać zaproszenie do osób, z którymi chcesz zawrzeć znajomość. Jeżeli
                    twoje zaproszenie zostanie zaakceptowane, wówczas w sekcji <i>ZNAJOMI</i> będziesz miał możliwość pisemnej
                    komunikacji z nowymi znajomymi.
                </div>
                <br>
                <div>
                    Od czasu do czasu odwiedź też zakładkę <i>ZAPROSZENIA</i>. Może ktoś właśnie czeka, żebyś go poznał.
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-toasta></ngx-toasta>